<h1>Osumi</h1>

<p><strong>Osumi fue el primer satélite japonés puesto en órbita en 1970.</strong> La intencionalidad del nombre recae sobre la idea de plasmar en él, el espacio, la comunicación en sí donde el producto se hace realidad, donde "es". Nosotros lo colocamos en el lugar idóneo, orbitándolo a fin de que el proyecto llegue allí donde se quiere o necesita, en cualquiera de sus soportes. Osumi nace para hacernos sentir que estamos ahí en cualquier parte, porque <strong>si no está online no existe</strong>.</p>

<img src="/assets/bag.webp"
     alt="Osumi">

<h2>Sobre nosotros</h2>

<p><strong>Osumi</strong> nace con el objetivo de lanzarnos al espacio, de transportarnos lejos, de darnos la vuelta al mundo y aterrizar en aquel lugar que una vez soñamos. Este satélite se reinventa así mismo para ofrecernos dar el salto desde la cima, existir en el tiempo. Nos catapulta a lo más alto, <strong>nos da presencia allá donde queramos. No importa si eres grande o pequeño, en Osumi la gravedad no existe.</strong></p>

<p><strong>LANZADERA PARA LA CREACIÓN DE CONTENIDOS ON LINE</strong></p>

<h2>Adios</h2>

<p><strong>Osumi</strong> fue una pequeña aventura que emprendí entre 2012 y 2014. Quiero agradecer a todos aquellos que me ayudaron y, sobre todo, me apoyaron. Desde entonces sigo publicando en mi <a href="https://github.com/igorosabel"
       target="_blank">Github personal</a> pequeños proyectos personales, experimentos o juegos.</p>

<p>¡Gracias!</p>