.project {
	display: flex;
	flex-direction: column-reverse;

	.photos {
		padding: 16px;

		img {
			width: 100%;
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		padding: 16px;

		h1 {
			border-bottom: 1px solid #ccc;
			margin: 0;
		}

		main {

		}
	}
}

@media screen and (min-width: 900px) {
	.project {
		flex-direction: row;

		.photos {
			width: 300px;
		}
	}
}
