.project {
	display: flex;
	flex-direction: column-reverse;

	.photos {
		padding: 16px;
		overflow: hidden;
		height: 220px;
		position: relative;

		img {
			position: absolute;
			width: 100%;
			transition: all .4s;
			cursor: pointer;

			&.left {
				left: -100%;
			}

			&.center {
				left: 0;
			}

			&.right {
				left: 100%;
			}
		}

		.controls {
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			justify-content: space-around;
			width: 100%;

			button {
				border: 0;
				background: rgba(0,0,0,0.2);
				color: var(--a-color);
				font-size: 2em;
				cursor: pointer;
				border-radius: 6px;

				&:hover {
					background-color: var(--a-hover-bg-color);
					color: var(--a-hover-color);
				}
			}
		}
	}

	.info {
		display: flex;
		flex-direction: column;
		padding: 16px;

		h1 {
			border-bottom: 1px solid #ccc;
			margin: 0;
		}

		main {

		}
	}
}

.photo-detail {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 90%;
		cursor: pointer;
	}
}

@media screen and (min-width: 900px) {
	.project {
		flex-direction: row;

		.photos {
			width: 300px;
		}
	}

	.photo-detail {
		img {
			width: 50%;
		}
	}
}
