@if (selectedProject().id !== '') {
<div class="project">
	<div class="photos">
		@for (p of selectedProject().numPhotos; track p) {
		<img [src]="'portfolio/' + selectedProject().id + '/' + selectedProject().id + '_' + p + '.webp'"
			 [alt]="selectedProject().title"
			 [class]="{'left': (selectedPhoto() > p), 'center': (selectedPhoto() === p), 'right': (selectedPhoto() < p)}"
			 (click)="showPhoto()">
		}
		<div class="controls">
			<button type="button"
					(click)="previousPhoto()">&lt;</button>
			<button type="button"
					(click)="nextPhoto()">&gt;</button>
		</div>
	</div>
	<div class="info">
		<h1>{{selectedProject().title}}</h1>
		<main [innerHTML]="selectedProject().description"></main>
	</div>
</div>
}

@if (openPhoto()) {
<div class="photo-detail">
	<img [src]="'portfolio/' + selectedProject().id + '/' + selectedProject().id + '_' + selectedPhoto() + '.webp'"
		 (click)="showPhoto()"
		 [alt]="selectedProject().title">
</div>
}