<h1>Portfolio</h1>
<p>Estos son los distintos proyectos que hemos realizado para nuestros clientes en Osumi.</p>

<a routerLink="/portfolio/appsorteos" class="portfolio">
	<img src="/assets/portfolio/appsorteos/appsorteos_1.webp" alt="App Sorteos">
	<div class="content">
		<h2>App Sorteos</h2>
		<p>Aplicación web para crear sorteos en Facebook. Permite varios clientes o proyectos, gestionar varios tipos de sorteos, programarlos y ver estadísticas de los participantes.</p>
	</div>
</a>

<a routerLink="/portfolio/blog-oinarri" class="portfolio">
	<img src="/assets/portfolio/blog-oinarri/blog-oinarri_1.webp" alt="Blog Oinarri">
	<div class="content">
		<h2>Blog Oinarri</h2>
		<p>Creación de tema personalizado para Wordpress para el blog de Oinarri SGR</p>
	</div>
</a>

<a routerLink="/portfolio/ediciones-la-bahia" class="portfolio">
	<img src="/assets/portfolio/ediciones-la-bahia/ediciones-la-bahia_1.webp" alt="Ediciones La Bahía">
	<div class="content">
		<h2>Ediciones La Bahía</h2>
		<p>Página web para Ediciones La Bahía. Se trata de un gestor de contenidos para manejar colecciones, publicaciones, autores, etc de la editorial.</p>
	</div>
</a>

<a routerLink="/portfolio/eiser" class="portfolio">
	<img src="/assets/portfolio/eiser/eiser_1.webp" alt="Eiser">
	<div class="content">
		<h2>Eiser</h2>
		<p>Página web para Eiser Hogares Ecoeficientes. Gestor de contenido con multiples gamas, productos, galerías de fotos y noticias.</p>
	</div>
</a>

<a routerLink="/portfolio/modelos-punto-azul" class="portfolio">
	<img src="/assets/portfolio/modelos-punto-azul/modelos-punto-azul_1.webp" alt="Modelos con un punto azul">
	<div class="content">
		<h2>Modelos con un punto azul</h2>
		<p>Aplicación para Facebook para crear tu propia portada de revista personalizandola con distintos aspectos y efectos.</p>
	</div>
</a>