:root {
	--body-bg-color: #fff;
	--a-color: #888;
	--a-hover-color: #000;
	--a-hover-bg-color: #eee;
	--header-menu-color-up: #494949;
	--header-menu-color-down: #404040;
	--main-bg-color: #fff;
	--main-color: #000;
	--main-border-color: #171717;
	--main-shadow: rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-bg-color: #3a3a3a;
		--a-color: #fff;
		--a-hover-color: #eee;
		--a-hover-bg-color: #888;
		--header-menu-color-up: #494949;
		--header-menu-color-down: #404040;
		--main-bg-color: #333;
		--main-color: #ddd;
		--main-border-color: #171717;
		--main-shadow: rgba(0,0,0,0.8);
	}
}

html, body {
	margin: 0;
	font-family: Helvetica Neue,sans-serif;
}

* {
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	background-color: var(--body-bg-color);
	margin-bottom: 16px;
}

a {
	color: var(--a-color);
	text-decoration: none;
	font-weight: bold;

	&:hover {
		color: var(--a-hover-color);
	}
}
